<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genre_view.html</title>
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        {% for genres in genre %}
        <div class="genre-card">
            <h1>
                <p>{{genre.name}}</p>
                <p>{{genre.magazines.first}}</p>
            </h1>
            {% endfor %}
            <div class="magazine-card">
    </main>
</body>
</html>