<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{magazine.title}}</title>
</head>
<body>
    <main>
        <div>
            <h3>{{magazine.title}}</h3>
                <p>{{magazine.description}}</p>
                <p>{{magazine.issued.first}}</p>
                <p>{{magazine.release_cycle}}</p>
                <p>
                    <a href={% url 'edit_mag' magazine.pk %}>EDIT MAGAZINE </a>
                </p>
                <p>
                    {%for issue in magazine.issues.all%}
                    <p>
                        Issue: {{issue.issue_title}}
                    </p>
                    {% endfor %}
                    {%for magazines in genre.magazines.all%}
                    <p>
                        <img scr="{{genre.cover_img}}"" width = 500 height="auto" class="pull-right">
                    </p>
                    <p> {{genres.name}}</p>
                    {% endfor %}
                <img src="{{ magazine.cover_img }}" width= 500 height="auto" class="pull-right">
                </p>
                {% comment %} <p><a href={% url 'X' X.pk %}>DELETE BOOK </a></p> {% endcomment %}
        </div>
    </main>
</body>
</html>

{% comment %} {%for magazine in genre.magazines.all %}
{%for genre in magazine.genres.all%}

{%for magazines in genre.magazines.all%}
{%for genre in magazine.genres.all%} {% endcomment %}