{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mag_.html file</title>
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {%for mags in magazines%}
    <div class = "mag-card"> </div>
    <p> <a href={% url "mag_detail" mags.pk%}>{{mags.title}}</a>
    </p>
    <p><img src = {{mags.cover_img}} width= 200 height="auto"></p></p>
    <p>{{mags.description}}</p>
    <p>{{mags.release_cycle}}</p>
    {% endfor %}
  </main>
</body>
<p> Test for magazine list </p>
</html>

