<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div class="book-card">
            <p>{{ book.title }}</p>
            {% for review in book.reviews.all %}
            <p>Review: {{ review.text }}</p>
            {% endfor %}
            {% for author in book.author.all %}
            <p>Author: {{ author.name }}</p>
            {% endfor %}
            <p>{{ book.pages }}</p>
            <p>{{ book.isbn }}</p>
            <p>{{ book.description }}</p>
        </div>
        <ul><li>
            {%for review in book.reviews.all%}
            <p>Review: {{review.text}}</p>
            <h5>{{review.user}}</h5>
            {% endfor %}
        </li>></ul>
        <p>
            <a href={% url 'edit_a_book' book.pk %}>EDIT BOOK </a>
        </p>
        <p><a href={% url 'delete_book' book.pk %}>DELETE BOOK </a></p>

    </main>
</body>

</html>