{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>list.html file</title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <p> <a href={% url "book_detail" book.pk%}>{{book.title}}</a>
        </p>
        <p>{{book.author.first}}</p>
        <p><img src = {{book.image}} width= 200 height="auto"></p>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>
